* {
  @apply text-white;
}

html {
  overflow-x: hidden;
}

body {
  @apply min-h-screen bg-black;
}

body.loading {
  @apply overflow-hidden h-screen;
}

.custom-cursor {
  @apply fixed w-72 h-72 z-50;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-out;
}

.ring-cursor {
  @apply w-72 inset-y-14 absolute pointer-events-none;
}

.ringOne {
  animation: rotateFirstRing 6s linear infinite;
}

.ringTwo {
  animation: rotateFirstRing 10s linear infinite;
}

@keyframes rotateFirstRing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
