#hero-main {
  background-image: radial-gradient(#234e52 1px, #12161f 1px);
  background-size: 20px 20px;

  main {
    position: relative;
    z-index: 2;
  }
}

.hero-radial-bg {
  @apply absolute inset-0;
  content: '';
  background-image: radial-gradient(
    circle,
    rgba(18, 22, 31, 0) 0%,
    rgba(18, 22, 31, 1) 75%
  );
  pointer-events: none;
}
.hamburger-menu {
  transition: transform 150ms;
}

.hamburger-menu:hover {
  animation: shakeHamburger 200ms;
}

.vertical-text {
  writing-mode: vertical-lr;
}

@keyframes shakeHamburger {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-12deg);
  }
  66% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
